.footer
  padding-bottom: 48px
  @include xxs
      padding-bottom: 66px  
  &__top
    display: flex
    gap: 60px
    align-items: flex-end
    @include xs
      flex-direction: column
      align-items: flex-start
      gap: 70px
    @include xxs
      flex-direction: column-reverse
      gap: 50px  
  &__logo
    flex: 0 0 146px
    @include xs
      flex: 0 1 auto
      width: 146px
  &__bottom
    display: grid
    grid-template-columns: repeat(2, 300px)
    gap: 110px
    justify-content: flex-end
    padding-right: 159px
    @include sm
      gap: 70px
      padding-right: 0px
    @include xs
      grid-template-columns: 444px
    @include xxs
      grid-template-columns: 1fr    
  &__col
    display: flex
    flex-direction: column
    align-items: flex-start
  &__address
    margin-bottom: 10px
  &__time
    margin-bottom: 60px
    @include xs
      margin-bottom: 40px
  &__tel
    margin-bottom: 10px
    position: relative
    &::after
      content: ""
      position: absolute
      bottom: -2px
      left: 50%
      height: 1px
      width: 0%
      transform: translate(-50%)
      background: $main-color
      transition: width 0.3s ease  
    &:hover
        &::after
            width: 100%
            transition: width 0.3s ease  
  &__email
    margin-bottom: 10px
    position: relative
    &::after
      content: ""
      position: absolute
      bottom: -2px
      left: 50%
      height: 1px
      width: 0%
      transform: translate(-50%)
      background: $main-color
      transition: width 0.3s ease  
    &:hover
        &::after
            width: 100%
            transition: width 0.3s ease   


  /*
    
        &::after
      content: ""
      position: absolute
      bottom: -2px
      left: 0
      height: 1px
      width: 0%
      background: $main-color
      transition: width 0.3s ease  
    &:hover
        &::after
            width: 100%
            transition: width 0.3s ease       
    */